*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    letter-spacing: 0.06em !important;
    font-family: sans-serif;
}
body {
    position: relative;
}
@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }
}
.row-logo {
    margin-top: 5vh;
    margin-bottom: 0;
}
.row-1-text {
    font-family: 'PT Sans', sans-serif;
    color: white;
}
.csi-img {
    width: 80% !important;
    height: auto;
}
.container {
    height: 100%;
    position: relative;
    overflow-x: hidden !important;
}
.bg {
    overflow: hidden;
}
img,
.bg {} .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    background: url('https://imgur.com/FMiKw3l.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
}
@media only screen and (min-width: 2439px) {
    .container {
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        background: url('https://imgur.com/V9WyzeD.png') repeat center center;
        background-size: cover;
        transform: scale(1.1);
    }

    .container-over {
        font-size: 10px !important;   
    }
    .csi-img img{
        width: 100% !important;
        height: auto;
    }
    .csi-img {
        width: 60% !important;
        height: auto;
    }
    .btn {
        width: 40% !important;
        margin-top: 5%;
    }
    .row-3 {
        margin-top: 5%;
        font-size: 25px;

    }
    .choice {
        margin-top: 5%;
    }

}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    
    .row-3 {
        margin-top: 5%;
    }
    .br-pradyun {
        display: block;
    }
    .csi-img {
        width: 50% !important;
        height: auto;
    }

    .btn {
        width: 40% !important;
        margin-top: 5%;
    }
}
body {
    background-color: #10101e;
}
.btn {
    background: transparent;
    border-style: solid;
    border-color: #5ec4ff;
    border-width: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 0;
    padding-bottom: 0;
    color: #ea525f;
    border-radius: 0;
}

@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }
    .btn {
        width: 100%;
        font-size: 27px;
    }
    button {
        color: #5ec4ff;
        background: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: #5ec4ff;
        position: relative;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        text-align: center;
        font-family: comfortaa;
        font-weight: bold
    }
    button:before,
    button:after {
        content: '';
        display: block;
        position: absolute;
        border-color: #5ec4ff;
        box-sizing: border-box;
        border-style: solid;
        width: 1em;
        height: 1em;
        transition: all 0.3s ease-in-out
    }
    button:before {
        top: -10px;
        left: -10px;
        border-width: 2px 0 0 2px;

    }
    button:after {
        bottom: -10px;
        right: -10px;
        border-width: 0 2px 2px 0;
    }
    button:hover:before,
    button:hover:after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-color: #5ec4ff !important;
    }
    button:hover {
        color: #353535 !important;
        background-color: transparent !important;
        border-color: #5ec4ff !important;
        color: #ea525f !important;
    }
}
body {
    background-color: #10101e;
}

.row-2 {
    margin: 5% 0;

    font-size: 25px;
    color: #f7f7ff;
    font-weight: lighter;
}

.choice {
    padding: 0 5%;
    /*cursor: not-allowed;*/
}
#design {
    cursor: pointer;
}
.row-contact {
    color: white !important;
    font-size: 15px;
}
#management {
    cursor: pointer;
}
#technical {
    cursor: pointer;
}
.choice-img img{
    width: 100% !important;
    height: auto;
}
.choice-text {
    color: #ea525f;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 0.1em !important;
}
#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
    z-index: 2;
    cursor: pointer;
}
.row-h2f {

}
.container-over {
    padding-top: 5vh; 
    font-size: 20px;   
}
.container-over u {
    color: #5ec4ff;
}
.container-over h1 {
    color: #ea525f;
    margin-bottom: 4vh;
}
#dont {
    color: #ea525f;
}