*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    letter-spacing: 0.06em !important;
    font-family: sans-serif;
}
body {
    position: relative;
}   

#user tr {
    background-color: #F0F0F0;
    color: #000000;
    margin: 5px;
    cursor: progress;
}

#user tr:hover {
    background-color: #E0E0E0;
}

.form-control {
    background: transparent;
    border: 0;
    border-bottom: solid 1px white;
    border-radius: 0;
    padding: 0;
    height: 80%;
}
.panel {
    background-color: transparent;
}
.row-2-text h1{
    color: #ea525f;
    font-weight: lighter;
}
.row-1-text {
    font-family: 'PT Sans', sans-serif;
    color: white;
}
@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }

}
.row-logo {
    margin-top: 5vh;
    margin-bottom: 0;
}

.csi-img {
    width: 80% !important;
    height: auto;
}
.logo-container {
}
.container {
    height: 100%;
    position: relative;
    overflow-x: hidden !important;
}
.bg {
    overflow: hidden;
}
img,
.bg {} .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    background: url('https://imgur.com/FMiKw3l.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
}
@media only screen and (min-width: 2439px) {
    .container {
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        background: url('https://imgur.com/V9WyzeD.png') repeat center center;
        background-size: cover;
        transform: scale(1.1);
    }
    .row-login {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        font-size: 35px !important;
    }
    .row-final {
        display: inline-block;
        width: 100%;
        text-align: center !important;
    }
    .csi-img img{
        width: 100% !important;
        height: auto;
    }

    .row-1-text h1{
        font-size: 23px;
    }
    .csi-img {
        width: 60% !important;
        height: auto;
    }
    .btn {
        z-index: 1000;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .br-pradyun {
        display: block;
    }

    .row-final {
        z-index: -1;
    }   
    .csi-img {
        width: 50% !important;
        height: auto;
    }
}


