*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    letter-spacing: 0.06em !important;
    font-family: sans-serif;
}
body {
    position: relative;
}

.form-control {
    background: transparent;
    border: 0;
    border-bottom: solid 1px white;
    border-radius: 0;
    padding: 0;
    height: 80%;
}
.panel {    
    background-color: transparent;
}
.row-2-text h1{
    color: #ea525f;
    font-weight: lighter;
}
.row-1-text {
    font-family: 'PT Sans', sans-serif;
    color: white;
}
@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }
}
.row-logo {
    margin-top: 5vh;
    margin-bottom: 0;
}

.csi-img {
    width: 80% !important;
    height: auto;
}
.logo-container {
}
.container {
    height: 100%;
    position: relative;
    overflow-x: hidden !important;
}
.bg {
    overflow: hidden;
}
img,
.bg {} .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    background: url('https://imgur.com/FMiKw3l.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
}
@media only screen and (min-width: 2439px) {
    .container {
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        background: url('https://imgur.com/V9WyzeD.png') repeat center center;
        background-size: cover;
        transform: scale(1.1);
    }
    .row-login {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        font-size: 35px !important;
    }
    .row-final {
        display: inline-block;
        width: 100%;
        text-align: center !important;
    }
    .csi-img img{
        width: 100% !important;
        height: auto;
    }

    .row-1-text h1{
        font-size: 23px;
    }
    .csi-img {
        width: 60% !important;
        height: auto;
    }
    .btn {
        z-index: 1000;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .br-pradyun {
        display: block;
    }
    
    .row-final {
        z-index: -1;
    }
    .csi-img {
        width: 50% !important;
        height: auto;
    }
}

body {
    background-color: #10101e;
}
.form-group {
    color: white;
    margin-bottom: 20px;
}
.well {
    background-color: transparent; 
    border: 0;
}
.btn {
    background: transparent;
    border-style: solid;
    border-color: #5ec4ff;
    border-width: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #ea525f;
    border-radius: 0;
}
@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }
    button {
        color: #5ec4ff;
        background: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: #5ec4ff;
        position: relative;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        text-align: center;
        font-family: comfortaa;
        font-weight: bold
    }
    button:before,
    button:after {
        content: '';
        display: block;
        position: absolute;
        border-color: #5ec4ff;
        box-sizing: border-box;
        border-style: solid;
        width: 1em;
        height: 1em;
        transition: all 0.3s ease-in-out
    }
    button:before {
        top: -10px;
        left: -10px;
        border-width: 2px 0 0 2px;
        z-index: 5;
    }
    button:after {
        bottom: -10px;
        right: -10px;
        border-width: 0 2px 2px 0;
    }
    button:hover:before,
    button:hover:after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-color: #5ec4ff !important;
    }
    button:hover {
        color: #353535 !important;
        background-color: transparent !important;
        border-color: #5ec4ff !important;
        color: #ea525f !important;
    }
}
#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
    padding: 0;
}

.panel-body {
    margin-top: 10%;
}
.form-container {
    margin-top: 5%;
}
.img-container {
    margin: 10% 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .well {
        padding: 0;
    }

}
body {
    background-color: #10101e;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group {
    width: 100%;
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  color: lightgrey;
  letter-spacing: 0.06em !important;
  
}
input[type="password"], textarea {
  outline: none;
  box-shadow:none !important;
  color: lightgrey;
  letter-spacing: 0.06em !important;
  
}
input:focus:invalid {
  outline: none;
  box-shadow:none !important;
  border-color: white;
  border-bottom: 10px !important; 
  border-style: solid;
}
.help-block {
    margin-top: 30px !important;
}
#info-text {
    font-weight: lighter;
    color: #ea525f !important;
}
.email-pad {
    padding-bottom: 10px;
}

.form-horizontal .control-label {
    text-align: left;
    color: #5ec4ff;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 8px;
}
fieldset legend {
    color: white;

}
.form-group label {
    text-align: left;
}

.row-login {
    color: #ea525f;
    font-size: 40px;
    margin-top: 45px;

    margin-bottom: 0px; 
}
.container-form {
    height: 100%;
    border-bottom: 0;
    
}
.well {
    margin-bottom: 0; 
}
.row-final {
    font-weight: lighter;
    font-size: 20px;
    color: #eee;

}
.row-final a {
    font-weight: bold;
    color: #ea525f;
    padding-bottom: 3px;
    border-bottom-style: solid !important;
    border-bottom: 2px;
    border-bottom-color: #ea525f;
}
.row-final i {
    padding-bottom: 3px;
    border-bottom-style: solid !important;
    border-bottom: 2px;
    border-bottom-color: #ea525f;
   
}
.row-login-btn {
    margin-top: 0;
    margin-bottom: 3%;
}

.row-final i{
    color: #ea525f !important;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0; 
    border-color: #ea525f;
}
.row-final a:hover {
    border: 0;
}
#message {
    color: white !important;
    font-size: 13px;
}

.form-control {
    background: transparent;
    border: 0;
    border-bottom: solid 1px white;
    border-radius: 0;
    padding: 2% 0;
    height: 80%;
    font-size: 16px;
}
input.form-control {
    padding-bottom: 1%;
}
.form-control::-webkit-input-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
  
  .form-control:-ms-input-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .form-control:-moz-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 16px;
    }
  
  .form-control::-moz-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.absolute-center {
  margin: auto;
  height: 50%;

  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.h2f-container a{
    color: lightgreen;
    font-size: 18px;
}
.h2f-container {
    display: block;
    border-style: dashed;
    border: 1px;
    border-color: white;
    font-size: 15px;
    color: white;
    margin-top: 2% ;
}

.wrap {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container {
    height: 100vh;
    width: 100vw;
}
#re-pass {
    color: white;
}