*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    letter-spacing: 0.06em;
}
body {
    position: relative;
}
.row-1-text {
    font-family: 'PT Sans', sans-serif;
    color: white;
}
.row-2 h1 {
    font-family: 'Open Sans';
    font-size: 40px;
}
.row-3 h1 {
    font-family: 'Open Sans';
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
}
#message {
    color: white;
}
.wrap {
    height: 100%;
    position: relative;
    overflow: hidden;
}
img,
.bg {} .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    background: url('https://imgur.com/FMiKw3l.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
}
#bg-parallel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
    background: url('https://imgur.com/FMiKw3l.png') no-repeat center center;
    background-size: cover;
}
.btn {
    background: transparent;
    border-style: solid;
    border-color: #5ec4ff;
    border-width: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;

    padding-top: 0;
    padding-bottom: 0;
    color: #ea525f;
    border-radius: 0;
}
.row-2 i {
    color: #ea525f;
}
.row-2 u {
    color: #ea525f;
}
.csi-img {
    width: 80% !important;
    height: auto;
}
.row-1 {
    color: white;
    margin-bottom: 10vh;
}
.row-1 h1 {
    font-size: 45px;
}
.row-2 {
    color: white;
    margin: 20vh 0;
}

#matter {
    border-bottom: 3px solid #ea525f;
    text-decoration: none;
}
.row-3 h1 {
    color: white;
    display: inline-block;
}
.btn:hover {
    color: #5ec4ff;
    border-color: #ea525f;
    background: transparent;
}
#dot {
    color: #ea525f;
}
@media screen and (min-width: 768px) {
    .br-mob {
        display: none;
    }
    button {
        color: #5ec4ff;
        background: transparent;
        border-width: 2px;
        border-style: solid;
        border-color: #5ec4ff;
        position: relative;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        text-align: center;
        font-family: comfortaa;
        font-weight: bold
    }
    button:before,
    button:after {
        content: '';
        display: block;
        position: absolute;
        border-color: #5ec4ff;
        box-sizing: border-box;
        border-style: solid;
        width: 1em;
        height: 1em;
        transition: all 0.3s ease-in-out
    }
    button:before {
        top: -10px;
        left: -10px;
        border-width: 2px 0 0 2px;
        z-index: 5;
    }
    button:after {
        bottom: -10px;
        right: -10px;
        border-width: 0 2px 2px 0;
    }
    button:hover:before,
    button:hover:after {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border-color: #5ec4ff;
    }
    button:hover {
        color: #353535;
        background-color: #fff;
        border-color: #5ec4ff;
    }
}
.mob-row-3 {
    display: inline-block;
}
.br-pradyun {
    display: none;
}
.row-logo {
    margin-top: 5vh;
    margin-bottom: 0;
}
@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .br-pradyun {
        display: block;
    }
    .csi-img {
        width: 50% !important;
        height: auto;
    }
    .row-1 {
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: black;
        background: url('https://imgur.com/V9WyzeD.png') no-repeat center center;
        background-size: cover;
        transform: scale(1.1);
    }
    .row-1 h1 {
        font-size: 20px;
        text-align: center;
    }
    .row-2 h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .row-1 {
        text-align: center;
    }
    .row-3 h1 {
        font-size: 20px;
    }
    .btn {
        font-size: 20px;
        border-width: 1px;
    }
    .mob-row-3 {
        display: block;
        margin-top: 10px !important;
    }
    .row-1-text h1{
        font-size: 23px;
    }
    .row-1 {
        color: white;
        margin-bottom: 5vh;
    }
    .row-2 {
        color: white;
        margin: 14vh 0;
    }

    .csi-img {
        width: 60% !important;
        height: auto;
    }
}
